<%- include('partials/header'); -%>

<ul>
  <% users.forEach(user => { %>
    <li class="gamer">
      <img src="<%= user.avatar ? `/${user.avatar}` : '/images/jgamers.png' %>" alt="<%= user.username %>'s avatar">
      <%= user.name %> - 
      <a href="/<%= user.name %>">View Owner</a>
    </li>
  <% }) %>
</ul>

<%- include('partials/footer'); -%>